**/__pycache__
**/.git
**/.gitignore
**/.DS_Store
**/venv
**/fresh_venv
**/*.pyc
**/*.pyo
**/*.pyd
.Python
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log 